
body {
    background-image: radial-gradient(lightgray 5%, transparent 1%);
    /* background-color:bisque; */
    background-position: 0 0, 40px 40px;
    background-size:50px 50px;
  }

[contenteditable] {
  outline: 0px solid transparent;
}

.logo{
    bottom: 4%;
    position: fixed;
    right: 40%;
    /* left: 50%; */
    font-size: small;
    inline-size: fit-content;
}

.canvas{
    touch-action: none;
}


button {
    position: fixed;
    bottom: 10px;
    background-color: #ffbc95; /* Green */
    border: none;
    color: maroon;
    border-radius: 20px;
    padding: 15px 29px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

.bt-round{
    /* position: absolute;
    bottom: -34px;
    left: -30px; */
    background-color: lightgray;
    border: none;
    color: gray;
    border-radius: 4px;
    padding: 8px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: alias;
    font-size: 15px !important;
    touch-action: none
}

.btn-on{
    background: gray;
    color: lightgray;
}

.btn-on-two{
    background: orange;
    color: orangered;
}

.visible-off{
    display: none;
}

.zooms{
    background: none !important;
    font-size: px;
}

.bg-red{
    background-color: palevioletred;
    color: white;
}

.item-options{
    position: absolute;
    bottom: -35px;
    left: 0px;
    inline-size: max-content;
}

.item{
    height: 50px;
    width: 270px;
    font-size:30px;
    touch-action: none;
    object-fit: contain;
    position: absolute;
    text-align: center;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    /* border: 1px solid black; */
}

.item-box{
    height: 50px;
    width: 50px;
    position: absolute;
    box-shadow: inset 0px 0px 0px 2px black;
    object-fit: contain;
}

.item-circle{
    border-radius: 50%;
}

.nav-bar{
    padding: 5px;
    background: lightgray;
    border: 1px solid gray;
    border-radius: 40px;
    width: -webkit-fill-available;
    position: fixed;
    bottom: 0;
    height: fit-content;
    margin: 20px;
}

.nav-items{
    padding: 10px;
    background: lightgray;
    color: gray;
    border-radius: 20px;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10+ and Edge */
    user-select: none; /* Standard syntax */
    -moz-user-select: none;
}
.nav-items:hover{
    
    color: lightgray;
    background: gray;

}

.item:hover{
    border: 0.5px dashed gray;
    /* background-color: rgba(66, 78, 82, 0.363) */
}

.item-select{
    background-color: rgba(255, 225, 149, 0.548);
}

.item-noText{
    /* background-color: rgba(0, 132, 172, 0.363) !important; */
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10+ and Edge */
    user-select: none; /* Standard syntax */
    -moz-user-select: none;
}

.resizer {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: brown;
    z-index: 2;
}

.resizer.nw{
    top:-5px;
    left:-5px;
    cursor: nw-resize;
}

.resizer.ne{
    top:-5px;
    right:-5px;
    cursor: ne-resize;
}
.resizer.sw{
    bottom:-5px;
    left:-5px;
    cursor: sw-resize;
}
.resizer.se{
    bottom:-5px;
    right:-5px;
    cursor: se-resize;
}
